.heading{
    background-color: rgb(163, 163, 199);
     font-size: 60px;
     align-items: center;
     font-style: italic;
     font-family: cursive;
     
}

.submit{
    background-color: darkslategray;
    font-size: 35;
}

.info{
    background-color: rgb(210, 227, 231);
}

.image{
    padding-left: 650px;
   

}